    <div id="wrapper" class="row col-md-12">
        <div id="leftPanel" class="col-md-2">
            <h2>DASHBOARD</h2>
            <h3>Info</h3>
            <p>{{firstName}} {{lastName}}<br>
            {{city}}, {{state}}</p>
            
            <h3>History</h3>
            <h4>Total Races</h4>
            <p>10</p>
            
            <h4>1st Place Wins</h4>
            <p>2</p>
            
            <h4>Total Distance</h4>
            <p>826 miles</p> 
        </div>

        <div id="raceTracker" class="row col-md-10">
            <h2>RACE TRACKER</h2>
        </div>
        
        <div id="raceStats" class="row col-md-10">
            <div id="displayStats" class="col-md-8">
                <div class="col-md-4">
                    <h2>RACE STATS</h2>
                    <h4>Distance Covered</h4>
                    <p>72 miles</p>
                    <h4>Duration</h4>
                    <p>10.8 hours</p>
                </div>
                <div class="col-md-4">
                    <h2>&nbsp</h2>
                    <h4>Current Position</h4>
                    <p>5th</p>
                    <h4>Average Pace</h4>
                    <p>9.1 minute mile</p>
                </div>
                <div class="col-md-4">
                    <h2>&nbsp</h2>
                    <h4>Average Speed</h4>
                    <p>6.6 mph</p>
                    <h4>Total # of Racers</h4>
                    <p>106</p>
                </div>                     
            </div>
            <div id="enterStats" class="row pull-right col-md-4">
                <form>
                    <fieldset>
                        <legend>New Achievement</legend>
                        Date: <input id="date" type="date" name=""><br>
                        Distance: <input id="distance" type="text" name="" size="4"> miles<br>
                        Time: <input id="time" type="text" name="" size="4"> minutes<br>
                        <input type="submit" value="Submit">
                    </fieldset>
                </form>
            </div> 
        </div>
    </div>