        <div id="masthead" class="jumbotron">
            <div class="container">
                <div class="col-md-8">
                    <h2>Race anyone,<br>anywhere.</h2>
                    <p>Cannonball Run is a racing app<br>
                        that pits you against others in<br>
                        a fun virtual race course.</p>><br>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#signUp">Sign Up</button>
                    <a href="/activity"><button class="btn btn-warning">Learn More</button></a>
                </div>
                <!-- LOGIN -->
                <div id="login" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Member Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <input type="text" name="username" placeholder=" Username"><br>
                        <input type="text" name="password" placeholder=" Password"><br>
                        <input type="submit" value="Sign In" class="btn btn-danger">
                        <span>Don't have an Account? <a href="#" data-toggle="modal" data-target="#signUp">Create Account</a></span>
                    </div>
                </div> <!-- .login -->
            </div>
        </div> <!-- /end masthead -->
    </div> <!-- .row -->

    <!-- Modal -->
    <div id="signUp" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create an Account</h4>
                </div>
                <div class="modal-body">
                    <!-- form content-->
                    <form role="form">
                        <div class="form-group">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" id="firstName" size="18">
                        </div>

                        <div class="form-group">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" id="lastName">
                        </div>

                        <div class="form-group">
                            <label for="">City</label>
                            <input type="text" class="form-control" id="city" size="10">
                        </div>

                        <div class="form-group">
                            <label for="">State</label>
                            <select class="form-control">
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AR">AR</option>	
                                <option value="AZ">AZ</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DC">DC</option>
                                <option value="DE">DE</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="IA">IA</option>	
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="MA">MA</option>
                                <option value="MD">MD</option>
                                <option value="ME">ME</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MO">MO</option>	
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="NC">NC</option>	
                                <option value="NE">NE</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>			
                                <option value="NV">NV</option>
                                <option value="NY">NY</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WI">WI</option>	
                                <option value="WV">WV</option>
                                <option value="WY">WY</option>
                            </select>		
                        </div>

                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" id="email" size="18">
                        </div>
    
                        <div class="form-group">
                            <label for="">Username</label>
                            <input type="text" class="form-control" id="userName" size="18">
                        </div>

                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="email" class="form-control" id="password">
                        </div>

                        <button type="submit" class="btn btn-success btn-lg submit">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div> <!-- /end Modal -->

    <!-- Marketing messaging and featurettes -->
    <div class="container marketing">
        <h3><em>Get in on the competition!</em></h3><br>
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="assets/images/run_photo.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Run</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="assets/images/bike_photo.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Bike</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="assets/images/walk_photo.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Walk</h2>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- end marketing -->

    <!-- START THE FEATURETTES -->
    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <div id="racePath" class="col-md-12">
                    <h3 class="featurette-heading">It doesn't matter how you get there, it's who gets there first.<br><span class="text-muted">Join or create your own Cannonball Run today.</span></h3>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
            <!-- <div class="col-md-5"> -->
            <!-- <img class="featurette-image img-responsive center-block" src="assets/images/race_path.jpg" alt="Generic placeholder image"> -->
            </div>
        </div>
    </div>

    <!-- /END THE FEATURETTES -->
    <div class="container">
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017 Cannonball Run &middot; <a href="https://github.com/projectCannonball/ProjectTwo">A Github Project</a></p>
        </footer>
    </div><!-- /.container -->