/*** WELCOME PAGE ***/
h1 .navbar-brand {
    color: orange;
    font-family: 'Bangers', cursive;
    font-size: 1em;
    margin: 15px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-header h1{
    font-size: 4em;
    font-weight: bold;
    margin: 0 0 0 20px;
}

#masthead {
    background-image: url('../images/running.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 10px #404040;    
    margin-bottom: 15px;
}

#masthead h2 {
    color: orange;
    font-size: 4em;
    font-weight: bold;
    text-align: right;
    text-shadow: 3px 3px 3px #404040;
}

#masthead p {
    color: whitesmoke;
    font-size: 2em;
    line-height: 1.15em;
    text-align: right;
    text-shadow: 3px 3px 3px #404040;
}

#masthead button {
    box-shadow: 2px 2px 3px #404040;    
    font-size: 1.75em;
    margin-left: 30px;
    width: 25%;
}

#login {
    box-shadow: 2px 2px 3px #404040;        
    float: right;
    font-size: 1.5em;
    margin-top: 25px;
    width: 30%;
}
#login h4 {
    color: red;
    text-align: center;
}

#login .panel-title {
    color: #555;
    font-size: 1.25em;
}

#login input {
    color: #555555;
    margin-bottom: 10px;
    padding: 0 5px;
    width: 100%;
}

#login input[type='submit'] {
    color: white;
    font-size: 1.25em;
    height: 50px;
}

#login span {
    color: gray;
    font-size: .80em;
}

.form-control {
    font-size: 1.5em;
    height: auto;
    margin-right: 10px;
    width: auto;
}

.form-group {
    display: inline-block;
}

#lastName, #email, #password {
    margin: 0px;
}

.marketing h3 {
    color: #CD5C5C;
    font-size: 4em;
    font-weight: 700;
    text-align: center;
}

.featurette-divider {
    margin-top: 0;
}

.featurette-divider img {
    height: 100%;
    width: 100%;
}

.jumbotron {
    background-image: url("../images/race_path_gradient.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    height: auto;
}

#racePath {
    height: 700px;
}

.featurette-heading {
    font-size: 3em;
    margin-top: 40px;
}

/*** ACTIVITY PAGE ***/

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 3px;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 2px;    
}

#wrapper h2 {
    color: darkorange;
}

#wrapper h3 {
    color: #c3c3c3;
}

#wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height:calc(100vh - 82px - 20px);
}

#wrapper p {
    font-size: 1.2em;
}

/* #displayStats {
    padding: 0;
} */

#leftPanel {
    background-color: black;
    color: lightgrey;
    height: 525px;
    margin: 0;
    padding-left: 40px; 
}

#leftPanel h4 {
    color: #6a6a6a
}

#raceTracker {
    background-color: #cdcdcd;
    box-shadow: 0 3px 10px #404040;    
    height: 325px;
    margin: 0;
}

/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
}

#barChart {
    background: black;
    box-shadow: 0 3px 10px #404040;        
    height: 325px;
}

#raceStats {
    color: #888;
    height: 200px;
    margin: 0;
    padding: 0;
}

#raceStats h2 {
    color: #CD5C5C;
    font-weight: 700;
}

#raceStats h4 {
    color: #CD5C5C;
}

#update {
    margin-top: 15px;
}

#updateModal .modal-dialog {
    width: 265px;
}

#updateModal .form-group {
    display: inline-block;
}

#updateForm input[type='radio'] {
    display: inline-block;
    font-size: 3em;
    margin: 0;
}

#date {
    margin-right: 0;
}

#distance {
    margin-right: 23px;
    width: 80px;
}

#hours, #minutes {
    margin: 0;
    width: 70px;
}